<!DOCTYPE html>
<html>
    <head>
        <title>CavnasGame</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

    </head>
    <body>
        <a href="testing.html">Test</a>
        <input type="text" id="testClick">
        <div id="game-map" style = "margin: 100px"></div>
    </body>
<script>
    var socket = new WebSocket("ws://127.0.0.1:8888/game/");
    socket.onopen = function() {
      console.log("Соединение установлено.");
      socket.send('{"method":"new_game","params":{},"id":1}')
    };

    socket.onmessage = function(event) {
      console.log("Получены данные " + event.data);
      socket.send('{"method":"new_game","params":{},"id":1}')
    };

</script>
</html>
